.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  position: absolute;
  top: 2.5rem;
  left: 5rem;
  right: 5rem;
  bottom: 2.5rem;
  border: none;
  background: var(--background);
  overflow: auto;
}

@media screen and (max-width: 560px) {
  .modal {
    top: 1.5rem;
    left: 1rem;
    right: 1rem;
    bottom: 1.5rem;
  }
}
